.container {
  background-color: blanchedalmond;
  height: 200px;
  width: 200px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;

  justify-items: end;
  align-items: end;
}

.items {
  background-color: aquamarine;
  border: 5px solid aqua;
}